{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 100,
	"plugins": [
		"prettier-plugin-svelte",
		"prettier-plugin-tailwindcss",
		"@ianvs/prettier-plugin-sort-imports"
	],
	"importOrder": [
		"^(svelte/(.*)$)|^(svelte$)",
		"",
		"<THIRD_PARTY_MODULES>",
		"",
		"^\\$lib/(.*)$",
		"^\\$env/(.*)$",
		"",
		"^[.]"
	],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		},
		{
			"files": "src/**/*.{ts,js,svelte}",
			"options": {
				"tailwindStylesheet": "./src/routes/layout.css"
			}
		},
		{
			"files": "*.md",
			"options": {
				"useTabs": false,
				"proseWrap": "preserve"
			}
		}
	]
}
